<div class="flex flex-col items-center justify-center min-h-screen select-none">
   <h1 class="text-4xl font-bold mb-2">
      Vite + Tailwind CSS
   </h1>
   <p class="text-gray-300 text-2xl">Edit <span class="text-pink-400 font-mono">src/components/app.html</span> to start working on your app.</p>

   <button href="https://github.com/lassejlv/vite-tailwind-stack" class="mt-4 bg-pink-500 hover:bg-pink-400 text-white font-bold py-2 px-4 rounded transition-colors duration-300">
      <i class="fa-brands fa-github"></i>  Give a star on GitHub
   </button>
</div>